.container {
    width: 100%;
    position: relative;
}

img {
    width: 100%;
    height: 30%;
    margin-bottom: 60px;
}

h1 {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 20%;
    font-size: 7rem;
    color: #30c0e3;
}

p{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 35%;
    font-size: 4rem;
    margin-top: 20px;
    color: #b7b2b2;
}

span {
    font-weight: bold;
    color: #30c0e3;
}