.container img{
    height: 300px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}

.container{
    padding-bottom: 60px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.20s ease-in-out;
}

.container:hover{
    box-shadow: 5px 5px 10px rgb(184, 184, 184);
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background: #ececec;
    border-radius: 10px;
}

.container h3{
    color: #696969;
    margin: 30px 20px 20px;
}

.container i{
    margin: 0px 25px 20px;
    background: rgb(10, 145, 46 );
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}